.home-testimonials {
  .swiper-slide {
    background: #f7f7f7 !important;
  }
  .testimonial-card {
    .testimonial-content {
    }
    .customer-name {
      color: #e9afa3;
    }

    .checked {
      color: #e9afa3;
    }
  }
}
