.priceList-container {
  padding: 30px;
  padding-top: 0; }
  .priceList-container.implant {
    background: #f7dcef; }
  .priceList-container h3 {
    margin-top: 0;
    color: #c6b3aa;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.6em;
    padding: 0 15px; }
  .priceList-container p {
    padding: 0 15px; }
  .priceList-container .col-xs-12 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .priceList-container table.prices-table {
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    width: 100%;
    margin-top: 15px;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    margin: 0 auto;
    font-size: 1.02em;
    letter-spacing: 0.5px; }
    .priceList-container table.prices-table thead tr {
      background: #333;
      color: #fff;
      font-size: 1.01em; }
    .priceList-container table.prices-table td {
      border: 1px solid #fff; }
      .priceList-container table.prices-table td.leftCol {
        width: 80%;
        text-transform: uppercase; }
        .priceList-container table.prices-table td.leftCol span {
          margin-top: 5px;
          display: block;
          font-size: 0.9em;
          letter-spacing: 0.2px;
          line-height: 0.5em;
          text-transform: none; }
        .priceList-container table.prices-table td.leftCol p {
          padding: 0; }
      .priceList-container table.prices-table td.rightCol {
        width: 20%;
        font-size: 0.9em;
        text-align: right; }
      .priceList-container table.prices-table td.Col4 {
        width: 25%; }
    .priceList-container table.prices-table tr {
      border-bottom: 1px solid #f0f0f0;
      background: #fff; }
      .priceList-container table.prices-table tr:nth-child(even) {
        background: rgba(223, 194, 179, 0.1); }
      .priceList-container table.prices-table tr td {
        padding: 9px 15px; }

@media all and (max-width: 500px) {
  section.priceList-container table.prices-table tr td {
    width: 100% !important;
    display: block !important;
    text-align: left !important; } }

@media all and (max-width: 767px) {
  section.priceList-container table.prices-table {
    max-width: 100%; } }

@media all and (max-width: 767px) {
  section.priceList-container {
    padding: 20px 0; }
    section.priceList-container .col-xs-12 {
      margin-top: 8px;
      margin-bottom: 8px; }
    section.priceList-container h3 {
      margin-bottom: 0; }
    section.priceList-container table.prices-table {
      margin-bottom: 13px !important; } }
