.opening-hours-container {
  .phone {
    a {
      color: rgba(255, 255, 255, 0.9);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.time-wrapper {
  display: flex;
  justify-content: space-between;
}
